
/* @media (max-width:1024px){
    .footer .footer-menu {
        padding: 0 15px;
    }
} */


@media(max-width:520px){
    .footer .footer-menu {
        padding: 0 15px;
    }

    .footer .footer-menu .footer-col {
        padding: 30px 0;
        flex: 50%;
    }

    .footer .footer-menu ul li {
        padding: 8px 0;
    }
    .footer-logo {
        padding: 0 15px;
    }
    .footer-logo .social-icons i{
        margin-left: 0;  
    }
    .footer-logo .row {
        padding: 20px 0;
        line-height: 40px;
    }

    .footer .client-section .client {
        padding: 30px 0;
    }
    .footer .client-section {
        padding: 0;
    }

    .news-section .news-section-heading{
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    }

    .news-section{
        padding:0 15px;
    }

    .news-section .news-section-heading hr {
        display: block;
        height: 7px;
        width: 50px;
    }

    .news-section .news-first-para img{
        display: none;
    }

    .news-section .news-first-para p {
        font-size: 16px;
    }
    .news-section .news-first-para h2 {
        font-size: 25px;
    }

    .news-section .news-first-para {
        margin-bottom: 30px;
    }

    .channels-section .channel-view-all-btn a{
        padding: 10px  50px;
    }
    .channels-section {
        padding: 50px 0px;
    }

    .channels-section .channel-view-all-btn {
        margin-top: 15px;
    }

    .channels-section h2, 
    .channels-section .channel-fashion h2 {
        font-size: 40px;
    }

    .channels-section p, 
    .channels-section .channel-fashion p {
        font-size: 18px;
    }

    .channels-section .right-side-sport ,
    .channels-section .left-side-sport {
        border-right: none;
    }

}
