@media (max-width:1024px){  
    .footer{
        .footer-menu{
            padding: 0 50px;
        }
    }
}

@media(max-width:520px){
    .footer{
        .footer-menu{
            .footer-col{
                padding: 30px 0;
                flex: 50%;
            }

            ul{
                li{
                    padding: 8px 0;
                }
            }
        }

        .footer-logo {
            padding: 0 30px;

            .row{
                padding: 20px 0;
                line-height: 40px;
            }
            .social-icons{
                i{
                    margin-left: 0; 
                }
            }
        }
        .client-section{
            padding: 0;
            .client{
                padding: 30px 0;
            }
        }
    }

    .news-section {
        padding:0 15px;
        .news-section-heading{
            font-size: 40px;
            line-height: 50px;
            padding-bottom: 50px;
            padding-top: 50px;

            hr{
                display: block;
                height: 7px;
                width: 50px;
            }
        }

        .news-first-para{
            img{
                display: none;
            }
            p{
                font-size: 16px;
            }
            h2{
                font-size: 25px;
            }
        }
    }
}